
<div class='specific-post-container' >
   <div class='specific-post-header-body-container'>
        <div class='specific-post-header'>
            <div>
                <%=@post.title%> by  <%=@user.name%>
            </div>
            <div class='likes-comments-count-specific-post'>
                comments:<%=@post.comments_counter%>, likes:<%=@post.likes_counter%>
            </div>
        </div>
        <p>
            <%=@post.text %>
        </p>
       <div class='like-button-container'>
            <%= form_with url: user_post_likes_path(@post.author_id, @post) do |f| %>
                <%= f.submit 'Like', class: 'like_button' %>
            <% end %>
       </div>
   </div>
    <div class='specific-post-comments-container'>
        <%if(@post.comments.empty?) %>
            <p>No comments available</p>
        <%else%>
            <%@post.comments.each do |comment| %>
                <%=render partial:'shared/comment_card', locals:{comment:comment, user:comment.user}%>
            <%end%>
        <%end%>
    
        <div><%= link_to "Add Comment", new_user_post_comment_path(@post.author_id, @post.id) %></div>
    </div>
</div>